

/* Set height of body and the document to 100% */


/* Style tab links */
.tablink {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  /*background-color: none;*/
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
